<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!-- IoC_02. 配置bean 周期 & 作用域 -->
    <context:component-scan base-package="com.boyan.ioc_02"/>
    <!-- 周期：@PostConstruct、@PreDestroy 作用域：@Scope(scopeName = ConfigrableBeanFactory.SCOPE_PROTOTYPE 多例 / SINGLETON 单例)-->

</beans>