<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace == mapper接口类的全限定名 -->
<mapper namespace="com.boyan.mapper.UserMapper">

    <!-- 定义一个插入语句，并获取主键值 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO userBoot(username, password)
        VALUES(#{username}, #{password})
    </insert>

    <update id="update">
        UPDATE userBoot SET username=#{username}, password=#{password}
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM userBoot WHERE id=#{id}
    </delete>
    <!-- resultType使用user别名，稍后需要配置！-->
    <select id="selectById" resultType="userBoot">
        SELECT id, username, password FROM userBoot WHERE id=#{id}
    </select>

    <!-- resultType返回值类型为集合，所以只写范型即可！ -->
    <select id="selectAll" resultType="userBoot">
        SELECT id, username, password FROM userBoot
    </select>

</mapper>