<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyan.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.boyan.pojo.User">
            <id property="uid" column="uid" jdbcType="INTEGER"/>
            <baseResponse property="username" column="username" jdbcType="VARCHAR"/>
            <baseResponse property="userPwd" column="user_pwd" jdbcType="VARCHAR"/>
            <baseResponse property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <baseResponse property="version" column="version" jdbcType="INTEGER"/>
            <baseResponse property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,username,user_pwd,
        nick_name,version,is_deleted
    </sql>
</mapper>
