<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!-- 读取外部配置文件 .properties => value = "${key}" -->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- 将 Java 实例化方式 -> IoC 实例化方式 -->
    <bean id="druidDataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${boyan.url}"/>
        <property name="driverClassName" value="${boyan.driver}"/>
        <property name="username" value="${boyan.username}"/>
        <property name="password" value="${boyan.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="druidDataSource"/>
    </bean>

    <!-- XML 整合 三层架构组件配置 -->
    <bean id="studentController" class="com.boyan.controller.StudentController">
        <property name="studentService" ref="studentService"/>
    </bean>
    <bean id="studentService" class="com.boyan.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"/>
    </bean>
    <bean id="studentDao" class="com.boyan.dao.impl.StudentDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

</beans>